@import 'http://fonts.googleapis.com/css?family=Poppins:wght@400;500;600';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 1440px;
  margin: 0 auto;
}

span {
  color: #f71963;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons img {
  padding: 10px;
}

.header-container {
  width: 1280px;
  height: 144px;
  left: 86px;
  top: 0px;
  margin: 0 86px;
}
.header-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 119px;
}
.header-container-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-weight: 600;
  font-size: 12px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  padding: 6px 0;
}
.header-container nav {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  width: 1280px;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.header-container nav input {
  width: 657px;
  height: 48px;
  border-radius: 10px;
  background-color: #f6f5f2;
  border: none;
}
.header-container nav input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  padding-left: 24px;
  font-weight: 500;
  font-size: 14px;
}
.header-container-list {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(57, 48, 19, 0.12);
  width: 1280px;
  justify-content: space-around;
}
.header-container-list ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 11px 0;
}
.header-container-list ul li img {
  margin-right: 13.5px;
}
.header-container-list ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #9f9f9f;
}

main .main-background-image {
  width: 1440px;
  height: 395px;
  background-image: url("./assets/img/ofertas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
main .main-background-image:hover {
  opacity: 1;
  transition: 0.4s;
}
main .main-background-image-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 48px;
  width: 822px;
  min-height: 128px;
  margin-left: 92px;
  padding-top: 52px;
  line-height: 72px;
}
main .main-background-image-subtitle {
  color: #ffffff;
  font-weight: 600;
  min-width: 389px;
  margin-left: 92px;
  font-size: 36px;
  line-height: 54px;
  margin-top: 16px;
}
main .main-background-image button {
  color: #ffffff;
  font-weight: 600;
  border: none;
  background-color: #f71963;
  border-radius: 5px;
  width: 227px;
  height: 60px;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 18px;
  margin-top: 35px;
  margin-left: 90px;
  cursor: pointer;
}
main .main-options {
  margin: 34px auto 39px auto;
  display: flex;
  justify-content: space-around;
}
main .main-options-card {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);
}
main .main-options-card img {
  padding: 34px;
}
main .main-options-card p {
  text-align: center;
  color: #f71963;
  font-size: 16px;
  font-weight: 500;
}

/*# sourceMappingURL=App.css.map */
