@import 'http://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700&display=swap';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 1440px;
  margin: 0 auto;
}

span {
  color: #f71963;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons img {
  padding: 10px;
}

.header-container {
  width: 1280px;
  height: 144px;
  left: 86px;
  top: 0px;
  margin: 0 86px;
}
.header-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 119px;
}
.header-container-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-weight: 600;
  font-size: 12px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  padding: 6px 0;
}
.header-container nav {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  width: 1280px;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.header-container nav input {
  width: 657px;
  height: 48px;
  border-radius: 10px;
  background-color: #f6f5f2;
  border: none;
}
.header-container nav input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  padding-left: 24px;
  font-weight: 500;
  font-size: 14px;
}
.header-container-list {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(57, 48, 19, 0.12);
  width: 1280px;
  justify-content: space-around;
}
.header-container-list ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 11px 0;
}
.header-container-list ul li img {
  margin-right: 13.5px;
}
.header-container-list ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #9f9f9f;
}

main .main-background-image {
  width: 1440px;
  height: 395px;
  background-image: url("./assets/img/ofertas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
main .main-background-image:hover {
  opacity: 1;
  transition: 0.4s;
}
main .main-background-image-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 48px;
  width: 822px;
  min-height: 128px;
  margin-left: 92px;
  padding-top: 52px;
  line-height: 72px;
}
main .main-background-image-subtitle {
  color: #ffffff;
  font-weight: 600;
  min-width: 389px;
  margin-left: 92px;
  font-size: 36px;
  line-height: 54px;
  margin-top: 16px;
}
main .main-background-image button {
  color: #ffffff;
  font-weight: 600;
  border: none;
  background-color: #f71963;
  border-radius: 5px;
  width: 227px;
  height: 60px;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 18px;
  margin-top: 35px;
  margin-left: 90px;
  cursor: pointer;
}
main .main-options {
  margin: 34px auto 39px auto;
  display: flex;
  justify-content: space-around;
}
main .main-options-card {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);
  background-color: #f4f4f4;
  margin-bottom: 39px;
}
main .main-options-card img {
  padding: 34px;
}
main .main-options-card p {
  text-align: center;
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 39px;
}

.main-options-products {
  padding-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.main-options-products-gray-line {
  width: 360px;
  height: 0px;
  border: 1px solid #dedede;
}
.main-options-products-gray-line-text {
  color: #f71963;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.main-navbar-products-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
.main-navbar-products-ul li {
  border: 1px solid #BDBDBD;
  gap: 10px;
  width: 211.5px;
  text-align: center;
  font-size: 16px;
}
.main-navbar-products-ul li:hover {
  background-color: #f4f4f4;
}
.main-navbar-products-ul li a {
  text-decoration: none;
  color: #3b3b3b;
  font-weight: 400;
}
.main-navbar-products-ul li a:hover {
  color: #f71963;
}

.main-products {
  margin: 20px auto;
  width: 1266px;
  height: 500px;
}
.main-products-card {
  width: 270px;
  height: 500px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.22);
}
.main-products-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 247px;
  height: 445px;
}
.main-products-card-content img {
  padding-top: 32px;
  margin: 0 auto;
}
.main-products-card-content p {
  margin: 0 11px;
}
.main-products-card-content-description {
  font-weight: 300;
  font-size: 15px;
  color: #3f3f40;
}
.main-products-card-content-offer {
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  text-decoration-line: line-through;
}
.main-products-card-content-price {
  font-weight: 700;
  font-size: 20px;
  color: #3f3f40;
}
.main-products-card-content-parcela {
  font-weight: 400;
  font-size: 12px;
  color: #3f3f40;
}
.main-products-card-content span {
  margin: 0 11px;
  font-weight: 400;
  font-size: 12px;
}
.main-products-card-content button {
  width: 245px;
  height: 44px;
  margin: 12px 11px 0 11px;
  border-radius: 4px;
  border: none;
  background-color: #f71963;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.main-parceiros {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.main-parceiros-card {
  width: 574px;
  height: 350px;
  background-image: url(./assets/img/parceiros.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.main-parceiros-card-content {
  margin-left: 39px;
  padding-top: 114px;
}
.main-parceiros-card-content button {
  margin-top: 32px;
}
.main-parceiros-card-content-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
.main-parceiros-card-content-description {
  color: #ffffff;
  font-size: 16px;
  width: 186px;
  margin-top: 9px;
}
.main-parceiros-card-content button {
  border: none;
  background-color: #f71963;
  width: 135px;
  height: 48px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
}

.main-options-products-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-options-products-text-sub {
  font-weight: 700;
  font-size: 15px;
  color: #3f3f40;
}

.main-produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 69px;
}
.main-produtos-card {
  width: 589px;
  height: 284px;
  border-radius: 10px;
  background-image: url(./assets/img/parceiros.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-produtos-card-content {
  margin-left: 39px;
  padding-top: 48px;
}
.main-produtos-card-content button {
  margin-top: 32px;
}
.main-produtos-card-content-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
.main-produtos-card-content-description {
  color: #ffffff;
  font-size: 16px;
  width: 186px;
  margin-top: 9px;
}
.main-produtos-card-content button {
  border: none;
  background-color: #f71963;
  width: 135px;
  height: 48px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
}

.main-marcas {
  width: 1250px;
  height: 331px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 155px;
}
.main-marcas-title {
  font-weight: 700;
  font-size: 30px;
  color: #f71963;
  margin-bottom: 52px;
}
.main-marcas-imagens {
  width: 211px;
  height: 211px;
  border-radius: 50%;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.13);
}
.main-marcas-imagens img {
  width: 172px;
  height: 62px;
  margin: 74px 20px;
}

.main-marcas-group {
  display: flex;
  width: 1250px;
  height: 234px;
  justify-content: space-around;
}

/*# sourceMappingURL=App.css.map */
